body{
     background-color: #151B54;
     color: yellow;
     font-size: 40px;
  }
   p{
      font-family: Comic Sans Ms;

   }
   h2{
        color: #36F57F;
      background-color: #F535AA;
      font-weight: bolder;
   }
   head{
        background-color: #151B54;
        color: yellow;
        font-size: 40px;
     }
