body {
   background-color: #BBDEFB  ;
   font-family: 'Arvo', serif;
}

section {
   width: 300px;
   background-color: white;
   border-radius: 25px;
   padding: 20px;
   padding-bottom: 40px;
   margin: auto;
   margin-bottom: -170px;
}

h1 {
   color: #E53935;
   text-align: center !important;
}
}
     #page-4 {
        font-family: Impact;
        font-weight: bolder;
     }

p {
   color: rgb(51, 51, 51);
   font-size: 14px;
}

b {
   color: #E95420;
   font-weight: 700;
}
